.first-container {
    margin-top: 100px;
    height: 150px;
    font-size: 40px;
    padding-left: 300px;
}

.first-span {
    font-size: 30px;
}

.form-container {
    width: 610px;
}

input {
    display: block;
}

.div-message {
    width: 185px;
}

textarea {
    resize: none;
    height: 210px;
}

form {
    width: 655px;
}

input {
    width: 300px;
}

.last-container {
    width: 350px;
    margin: 0 auto;
    font-size: 20px;
}

label {
    font-weight: bold;
}